@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #F2EFEB;
}
.section-footer{
    background-size: cover;
    background-position: center center;
    background-image: url('/bg_footer.webp');
}
.section-header-home{
    background-size: cover;
    background-position: center bottom;
}
.section-about-home{
    background-size: cover;
    background-position: center bottom;
}
.section-ondemand-home{
    background-size: cover;
    background-position: center center;
}
.section-contact-home{
    background-size: cover;
    background-position: center center;
}
.section-header-about{
    background-size: cover;
    background-position: center bottom;
}
.slider-about-One, .slider-about-Two, .slider-about-Three{
    background-size: cover;
    background-position: center center;
}
.section-suscribe-about{
    background-size: cover;
    background-position: center center;
}
.section-header-ondemand{
    background-size: cover;
    background-position: center bottom;
}
.section-clases-ondemand{
    background-size: cover;
    background-position: center center;
}


@media(min-width: 641px){
    .section-header-home{
        background-image: url('/antu_portada_home.webp');
    }
    .section-about-home{
        background-image: url('/fondo_azul.webp');
    }
    .section-ondemand-home{
        background-image: url('/antu_ondemand.webp');
    }
    .section-contact-home{
        background-image: url('/home_contacto_antu.webp');
    }
    .section-header-about{
        background-image: url('/about/about_antu.webp');
    }
    .slider-about-One{
        background-image: url('/about/about_antu_slider-1.webp');
    }
    .slider-about-Two{
        background-image: url('/about/about_antu_slider-2.webp');
    }
    .slider-about-Three{
        background-image: url('/about/about_antu_slider-3.webp');
    }
    .section-suscribe-about{
        background-image: url('/about/about_antu_suscribete.webp');
    }
    .section-header-ondemand{
        background-image: url('/ondemand/portada_clases_antu.webp');
    }
    .section-clases-ondemand{
        background-image: url('/ondemand/demo_clases_a ntu.webp');
    }
}

@layer base {
  :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
    }
}

@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}

.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #F2EFEB;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-pagination-horizontal{
    bottom: 40px !important;
}
.swiper-pagination-bullet-active{
    background-color: #F2EFEB !important;
}
.swiper-pagination-bullet{
    width: 18px !important;
    height: 18px !important;
    background-color: #F2EFEB !important;
}